body {
    background-color: rgb(192, 191, 191)
}
main {
    display: inline-block;
    width: 40%;
    background-color: rgb(255, 255, 255);
    margin-top: 150px;
    margin-left: 30%; 
    border-radius: 10px; 
    box-shadow: 30px 30px 30px 0px rgb(128, 127, 127)
}
main > div:nth-child(1){
    display: inline-block; 
    width: 100%; 
    margin-top: 0px;
}
main > div:nth-child(1) > img {
    float: left; 
    color: grey;
    padding: 30px;
}
main > div:nth-child(2){
    display: inline-block; 
    margin-bottom: 15%; 
    margin-top: 30px;
    width: 100%; 
}
main > div:nth-child(2) > img {
    width: 30%; 
    margin-left: 10%; 
    margin-right: 10%; 
    margin-top: 2%;
    float:left; 
}
main > div:nth-child(2) > div {
    width: 40%; 
    margin-right: 10%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float: right; 
}
h1 {
    color: rgb(90, 62, 248); 
    margin: 0; 
    margin-bottom: 20px;
    font-size: 9rem; 
}
a {
    display: inline-block; 
    padding-top:10%;
    padding-right: 10%; 
    text-decoration: none; 
    font-weight: bold;
    font-size: 15px; 
}
main > div:nth-child(2) > div > :nth-child(2) {
    font-weight: bold; 
    font-size: 16px;
    color: rgb(4, 70, 4);
    line-height: 1.2em; 
}
main > div:nth-child(2) > div > :nth-child(3){
    width: 100%;
    color: grey; 
    line-height: 1.2em;
}
svg {
    line-height: 0;
}